<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login </title>
  <link rel="stylesheet" href="../styles/access.css">
</head>
<body>
  <div class="card">
    <h1>Login</h1>
      <form id="Login">
        <input type="text" id="txtLogin" placeholder="Login">
        <input type="text" id="txtPass" placeholder="Senha">
        <input type="submit" value="Acessar">
      </form>
      <span>
              <a href="./createlogin.html">Criar Conta</a>

      </span>
  </div>
</body>

<script src="../scripts/access/login.js"></script>
</html>