<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login </title>
  <link rel="stylesheet" href="../styles/access.css">
</head>
<body>
 <div class="card">
    <h1>Criar conta</h1>
      <form id="createLogin">
        <input type="text" id="txtLogin" placeholder="Login">
        <input type="text" id="txtPass" placeholder="Senha">
        <input type="submit" value="criar">
      </form>
      <span>
              <a href="./access.html">Fazer Login</a>
      </span>
</body>
<script src="../scripts/access/create.js"></script>
</html>